<div class="container mt-4">
  <form [formGroup]="userRegForm">
    <div class="form-group">
      <label for="userName">User Name</label>
      <input
        type="text"
        class="form-control"
        id="userName"
        placeholder="User Name"
        formControlName="userName"
        [ngClass]="{'is-invalid' : userRegForm.controls.userName.touched && !userRegForm.controls.userName.valid }"
      />
      <div class="invalid-feedback">
        Please enter user name.
      </div>
    </div>
    <div class="form-group">
      <label for="email">Email</label>
      <input
        type="email"
        class="form-control"
        id="email"
        placeholder="Email"
        formControlName="email"
        [ngClass]="{'is-invalid' : userRegForm.controls.email.touched && !userRegForm.controls.email.valid }"
      />
      <div class="invalid-feedback">
        Please enter valid email address.
      </div>
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input
        type="password"
        class="form-control"
        id="password"
        placeholder="Password"
        formControlName="password"
        [ngClass]="{'is-invalid' : userRegForm.controls.password.touched && !userRegForm.controls.password.valid }"
      />
      <div class="invalid-feedback">
        Passoword is weak.
      </div>
    </div>
    <div class="form-group">
      <label for="company">Company</label>
      <input
        type="company"
        class="form-control"
        id="company"
        placeholder="Company"
        formControlName="company"
        [ngClass]="{'is-invalid' : userRegForm.controls.company.touched && !userRegForm.controls.company.valid }"
      />
      <div class="invalid-feedback">
        Passoword enter company name.
      </div>
    </div>
    <div class="form-group">
      <label for="terms">Terms</label>
      <input
        type="terms"
        class="form-control"
        id="terms"
        placeholder="Terms"
        formControlName="terms"
        [ngClass]="{'is-invalid' : userRegForm.controls.terms.touched && !userRegForm.controls.terms.valid }"
      />
      <div class="invalid-feedback">
        Passoword enter terms.
      </div>
    </div>
    <div class="form-group">
      <label for="address">Address</label>
      <textarea
        type="address"
        class="form-control"
        id="address"
        placeholder="Address"
        formControlName="address"
        (input)="onAddressInput()"
        [ngClass]="{'is-invalid' : userRegForm.controls.address.touched && !userRegForm.controls.address.valid }"
      ></textarea>
      <div class="invalid-feedback">
        Passoword enter valid address.
      </div>
      <strong>{{concatenatedAddress}}</strong>
    </div>
    <div class="form-check">
      <input type="checkbox" class="form-check-input" />
      <label class="form-check-label" for="terms"
        >I accept terms & conditions</label
      >
    </div>
    <button type="button" (click)="captureDetails()" class="btn btn-primary">Submit</button>
  </form>
</div>
